@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alpha: 0.5;
  --light-mountain-1: url(#light-mountain-1);
  --light-mountain-2: url(#light-mountain-2);
  --light-mountain-3: url(#light-mountain-3);
  --light-mountain-4: url(#light-mountain-4);
  --light-mountain-5: url(#light-mountain-5);
  --light-section-engineering-bg: 255 187 156;
  --light-section-excursions-bg: 212 56 75;
  --light-text-primary: #000;
  --light-text-secondary: #506770;
  --dark-mountain-1: url(#dark-mountain-1);
  --dark-mountain-2: url(#dark-mountain-2);
  --dark-mountain-3: url(#dark-mountain-3);
  --dark-mountain-4: url(#dark-mountain-4);
  --dark-mountain-5: #020c27;
  --dark-section-engineering-bg: 149 164 161;
  --dark-section-excursions-bg: 12 52 109;
  --dark-text-primary: #fffff;
  --dark-text-secondary: #506770;
}

html {
  transition: background 1s ease;
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --section-engineering-bg: var(--light-section-engineering-bg);
  --section-excursions-bg: var(--light-section-excursions-bg);
  --mountain-1: var(--light-mountain-1);
  --mountain-2: var(--light-mountain-2);
  --mountain-3: var(--light-mountain-3);
  --mountain-4: var(--light-mountain-4);
  --mountain-5: var(--light-mountain-5);
}

html.dark {
  --alpha: 0.12;
  --mountain-1: var(--dark-mountain-1);
  --mountain-2: var(--dark-mountain-2);
  --mountain-3: var(--dark-mountain-3);
  --mountain-4: var(--dark-mountain-4);
  --mountain-5: var(--dark-mountain-5);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --section-engineering-bg: var(--dark-section-engineering-bg);
  --section-excursions-bg: var(--dark-section-excursions-bg);
}

.alpha-on-hover:hover {
  --alpha: 0.8;
}
.dark .alpha-on-hover:hover {
  --alpha: 0.3;
}

.bg {
  /*
	using a background-color behind the background-image permits to mimic
	a transition on the gradient when the background changes.
	*/
  background-color: #ffeae0;
  background-image: linear-gradient(180deg, #fcc1a8 0%, rgba(255, 255, 255, 0));
  transition: all 700ms linear;
}

.dark > .bg {
  background-color: #103448;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #4a484875
  );
}
